# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Colab
*.ipynb

# Vivado / Xilinx
*.jou
*.log
*.str
*.cache/
*.hw/
*.runs/
*.sim/
*.ltx
*.xpr
*.xml
*.pb
*.backup

# Mac / Windows
.DS_Store
Thumbs.db
